<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>New User</h1>
    <div class="col-md-auto">
        <form th:action="@{/admin/schools/update}" th:object="${school}" method="POST">
<!--            <input type="hidden" th:field="*{schoolId}">-->
            <div>
                <label th:text="schoolName" th:for="schoolName"></label>
                <input type="text" th:field="*{schoolName}" class="form-control" placeholder="schoolName"/>
<!--                <div class="alert alert-warning" th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}"></div>-->
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="schoolAddress" th:for="schoolAddress"></label>
                <input type="text" th:field="*{schoolAddress}" class="form-control" placeholder="schoolAddress"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="contactPhone" th:for="contactPhone"></label>
                <input type="text" th:field="*{contactPhone}" class="form-control" placeholder="contactPhone"/>
            </div>
            <div>
                <label th:text="contactEmail" th:for="contactEmail"></label>
                <input type="text" th:field="*{contactEmail}" class="form-control" placeholder="contactEmail"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <input type="submit" class="btn btn-success" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>